.pl-lg-6, .px-lg-6 {
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important;
}

.form-label {
  margin-bottom: auto;
  margin-top: 0.25rem;
}

.input-group-sm > .form-control, .input-group-sm > .form-select, .input-group-sm > .input-group-text, .input-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0;
}

/***---------- MAIN : Form-edit ----------***/

.form-edit p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
}