body{
  background-color: #222222;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 0.5rem;
  font-family: "Selima";
  text-transform: uppercase;
  color: #cdb55f;
}

p{
  font-family: "voga";
  font-size:1.6rem;
  color: #ffffff;
}

a{
  color:#cdb55f;
  text-decoration: none;
}

nav{
  background-color: #222222 !important;
  border-bottom: 2px solid #cdb55f;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
  color: #cdb55f;
  text-transform:uppercase;
}

.nav-link{
  color: rgba(255, 255, 255, 0.9) !important;
  text-transform:uppercase;
}

.nav-link:hover{
  color: #cdb55f !important;
  text-transform:uppercase;
}

section{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#jaf-footer{
  border-top: 4px solid #cdb55f;
}

#jaf-footer-bottom p{
  font-family: 'CerebriSans-light';
  font-size: 1rem;
}

#jaf-footer-bottom p{
  font-family: 'CerebriSans-light';
  font-size: 0.8rem;
}

#jaf-footer-bottom{
  border-top:1px solid #cdb55f;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

#jaf-footer-bottom a{
  color: #ffffff;
  font-family: 'CerebriSans-light';
}

#jaf-footer-bottom a:hover, #jaf-footer-bottom a:active{
  color: #cdb55f;
}

