/***---------- REGLES CSS DE BASE ----------***/
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: 'Monserrat-light';
}

/***---------- MAIN ----------***/

main h1, main h2, main h3{
  font-family: 'Tangerine', cursive;
  color: #142864;
  font-size: 3rem;
}

main{
  margin-top: 0;
}

section{
  padding-top: .5rem;
  padding-bottom: .5rem;
}

#section_title{
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
  border-bottom: 1px solid $sm-primary-color;
}

/***---------- MAIN : articles ----------***/

/***---------- MAIN : calligraphie ----------***/
@media (max-width:767px) {
  #calligraphie .btn {
    border-color: $sm-primary-color !important;
    color: $sm-primary-color;
    font-family: 'Monserrat-light';
    font-size: 1rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0 0 0px;
    background-color: transparent;
    margin-bottom: 0.2rem;
    margin-top: 0;
  }
}

@media (min-width:768px) and (max-width:991px) {
  #calligraphie .btn {
    border-color: $sm-primary-color !important;
    color: $sm-primary-color;
    font-family: 'Monserrat-light';
    font-size: 0.9rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0 0 0px;
    background-color: transparent;
    margin-bottom: 0.2rem;
    margin-top: 0;
  }
}

@media (min-width:991px) {
  #calligraphie .btn {
    border-color: $sm-primary-color !important;
    color: $sm-primary-color;
    font-family: 'Monserrat-light';
    font-size: 1.3rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0 0 0px;
    background-color: transparent;
    margin-bottom: 0.2rem;
    margin-top: 0;
  }
}

#calligraphie .btn::before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 0%;
  z-index: -1;
  transition: all 0.3s;
  background-color: #142864;
}

#calligraphie .btn:hover {
  color: #ffffff;
}

#calligraphie .btn:hover::before {
  width: 100%;
}

/***---------- MAIN : Member Card ----------***/

.card a{
  text-decoration-line: none;
}



//*** ------------- Personnalisation produit show ---------------- ***//

.op-section-product p{
  margin-bottom: 0rem;
}

#filters li{
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

#filters .card > .list-group {
  border-top: none !important;
  border-bottom: inherit;
}

#filters .list-group-item {
  position: relative;
  display: block;
  padding: .5rem 1rem !important;
  color: #212529;
  text-decoration: none;
  background-color: transparent;
}

#filters li:hover {
  color: #ffffff;
  background-color: #142864;
}

/***---------- FOOTER ----------***/
footer{
  border-top:solid 2px $sm-primary-color;
}
footer h1,
footer h2,
footer h3 {
  font-family: 'Tangerine', cursive;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-top: 1rem;
}
/***---------- FOOTER : footer-top ----------***/
#footer_top {
  background-color: #077dc2;
}

#footer_top p {
  color: #ffffff;
  font-size:0.8rem;
}

#footer_top a {
  color: #ffffff;
}

#footer_top a:hover {
  color: #142864;
}
/***---------- FOOTER : footer-bottom ----------***/
#footer_bottom {
  background-color: #077dc2;
  font-size:0.8rem;
}

#footer_bottom p {
  font-size: 12px;
  color: #ffffff;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.author:hover {
  color: #eb9c0c;
}

.author {
  color: #f56d0c;
}

.author2:hover {
  color: #eb9c0c;
}

.author2 {
  color: #DB9365;
}

.btn-primary-sm {
  color: #fff;
  background-color: #508CDC;
  border-color: #508CDC;
}

.btn-primary-sm:hover {
  color: #fff;
  background-color: #142864;
  border-color: #0a58ca;
}
