/***---------- REGLES CSS DE BASE ----------***/
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: 'Monserrat-light';
}

/***---------- HEADER : header_home ----------***/

@media (min-width:320px) and (max-width:991px) {
  #header_home {
    background-position: center top;
    background-size: cover;
    position: relative;
    top: 0px;
    left: 0px;
    background-image: url('/public/images/home_front/fond_section_home.jpeg');
    z-index: 0;
    width: 100%;
  }
}

@media (min-width:991px) {
  #header_home {
    background-position: right top;
    background-size: cover;
    position: relative;
    top: -56px;
    left: 0px;
    background-image: url('/public/images/home_front/fond_section_home.jpeg');
    z-index: 0;
    height: 100vh;
  }
}
/***---------- HEADER : Navbar ----------***/
#navbar_large{
  position:relative;
  top:0;
  left:0;
  z-index:1000;
}
#navbar_small {
  background-color: #ffffff;
}

header .navbar-light .navbar-nav .show > .nav-link,
header .navbar-light .navbar-nav .nav-link.active,
header .navbar-light .navbar-nav .nav-link {
  color: #142864;
  text-transform: uppercase;
}

header .navbar-light .navbar-nav .show > .nav-link,
header .navbar-light .navbar-nav .nav-link:hover {
  color: #586EB0;
  text-transform: uppercase;
}

/***-------- HEADER : Bloc Prez --------***/
#bloc_prez {
  display: block;
  padding-top: 8rem;
  padding-bottom: 0.8rem;
  width: 800px;
}

#bloc_prez #overlay_logo {
  background-color: rgba(228, 228, 228, 0.75);
  border-radius: 5px;
}

/* *-------- HEADER : bloc_production --------* */
@media (max-width:767px) {
  #bloc_production3 {
    margin-bottom: 0rem;
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  #bloc_production3 .btn {
    border-color: #ffffff !important;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    width: 100%;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0 0 0px;
    font-weight: 700;
    background-color: transparent;
    margin-bottom: 0.2rem;
    margin-top: 0;
  }
}

@media (min-width:768px) and (max-width:991px) {
  #bloc_production3 {
    margin-bottom: 0rem;
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  #bloc_production3 .btn {
    border-color: #ffffff !important;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    width: 100%;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0 0 0px;
    font-weight: 700;
    background-color: transparent;
    margin-bottom: 0.2rem;
    margin-top: 0;
  }
}

@media (min-width:991px) {
  #bloc_production3 {
    margin-bottom: 2rem;
    margin-top: 20rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  #bloc_production3 .btn {
    border-color: #ffffff !important;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    width: 100%;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0 0 0px;
    font-weight: 700;
    background-color: transparent;
    margin-bottom: 0.2rem;
    margin-top: 0;
  }
}

#bloc_production3 .btn::before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 0%;
  z-index: -1;
  transition: all 0.3s;
  background-color: #142864;
}

#bloc_production3 .btn:hover {
  color: #ffffff;
}

#bloc_production3 .btn:hover::before {
  width: 100%;
}

/***---------- MAIN ----------***/

main h1, main h2, main h3{
  font-family: 'Tangerine', cursive;
  margin-top: .2rem;
  color: #142864;
  font-size: 3rem;
}

#section_title{
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
  border-bottom: 1px solid $sm-primary-color;
}

/***---------- MAIN : articles ----------***/

/***---------- MAIN : calligraphie ----------***/
@media (max-width:767px) {
  #calligraphie .btn {
    border-color: $sm-primary-color !important;
    color: $sm-primary-color;
    font-family: 'Monserrat-light';
    font-size: 1rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0 0 0px;
    background-color: transparent;
    margin-bottom: 0.2rem;
    margin-top: 0;
  }
}

@media (min-width:768px) and (max-width:991px) {
  #calligraphie .btn {
    border-color: $sm-primary-color !important;
    color: $sm-primary-color;
    font-family: 'Monserrat-light';
    font-size: 0.9rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0 0 0px;
    background-color: transparent;
    margin-bottom: 0.2rem;
    margin-top: 0;
  }
}

@media (min-width:991px) {
  #calligraphie .btn {
    border-color: $sm-primary-color !important;
    color: $sm-primary-color;
    font-family: 'Monserrat-light';
    font-size: 1.3rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0 0 0px;
    background-color: transparent;
    margin-bottom: 0.2rem;
    margin-top: 0;
  }
}

#calligraphie .btn::before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 0%;
  z-index: -1;
  transition: all 0.3s;
  background-color: #142864;
}

#calligraphie .btn:hover {
  color: #ffffff;
}

#calligraphie .btn:hover::before {
  width: 100%;
}

/***---------- MAIN : Member Card ----------***/

.card a{
  text-decoration-line: none;
}

#filters .card > .list-group {
  border-top: none !important;
  border-bottom: inherit;
}

#filters .list-group-item {
  position: relative;
  display: block;
  padding: .5rem 1rem !important;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
}

//*** ------------- Personnalisation produit show ---------------- ***//

.op-section-product p{
  margin-bottom: 0rem;
}

/***---------- FOOTER ----------***/
footer{
  border-top:solid 2px $sm-primary-color;
}
footer h1,
footer h2,
footer h3 {
  font-family: 'Tangerine', cursive;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-top: 1rem;
}
/***---------- FOOTER : footer-top ----------***/
#footer_top {
  background-color: #077dc2;
}

#footer_top p {
  color: #ffffff;
  font-size:0.8rem;
}

#footer_top a {
  color: #ffffff;
}

#footer_top a:hover {
  color: #142864;
}
/***---------- FOOTER : footer-bottom ----------***/
#footer_bottom {
  background-color: #077dc2;
  font-size:0.8rem;
}

#footer_bottom p {
  font-size: 12px;
  color: #ffffff;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.author:hover {
  color: #eb9c0c;
}

.author {
  color: #f56d0c;
}

.author2:hover {
  color: #eb9c0c;
}

.author2 {
  color: #DB9365;
}

.btn-primary-sm {
  color: #fff;
  background-color: #508CDC;
  border-color: #508CDC;
}

.btn-primary-sm:hover {
  color: #fff;
  background-color: #142864;
  border-color: #0a58ca;
}
