body {
    background-color: #222222;
    border: 4px solid #c8b15d;
    height: 100vh;
    padding: 0.5rem;
    color: #c8b15d;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Selima";
}
p{
  font-family: "CerebriSans-Light";
}

.wrapper {
    height: 100%;
    border: 2px solid #c8b15d;
    display: flex;
  	align-items: center;
}

#content {
    width: 100%;
  	max-width: 330px;
  	padding: 15px;
  	margin: auto;
}