<div class="card">
    <div class="card-body">
        <h4><a href="{{ path('op_webapp_section_new') }}"><i class="far fa-plus-square"></i> Nouvelle section</a></h4>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4><a href="{{ path('op_webapp_section_index') }}"><i class="fas fa-chevron-circle-left"></i> Retour</a></h4>
    </div>
</div>