{% extends 'admin.html.twig' %}

{% block title %}Edit ProductNature{% endblock %}

{% block content %}
    <h1>Edit ProductNature</h1>

    {{ include('gestapp/product_nature/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('op_gestapp_product_nature_index') }}">back to list</a>

{# {{ include('gestapp/product_nature/_delete_form.html.twig') }} #}
{% endblock %}
