{% extends 'base.html.twig' %}



{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
    window.onload = function(){

        const listCart = document.getElementById("listCart");
        const adressCart = document.getElementById("adressCart");
        const btnNextStep = document.getElementById("nextStep");
        const btnPreviousStep = document.getElementById("previousStep");
        listCart.style.display="block";
        adressCart.style.display="none";

        btnNextStep.onclick = function () {
            adressCart.style.display = "block";
            listCart.style.display = "none";
            btnPreviousStep.removeAttribute("disabled")
            btnNextStep.setAttribute("disabled", true)
        }

        btnPreviousStep.onclick = function () {
            listCart.style.display = "block";
            adressCart.style.display = "none";
            btnPreviousStep.setAttribute("disabled", true)
            btnNextStep.removeAttribute("disabled")
        };

        // Edition de la personnalisation d'un produit
        function customEdit(){
            let urlForm = document.getElementById('CustomizeProduct').action
            let formdata = new FormData(document.getElementById('CustomizeProduct'))
            let data =  JSON.stringify(Object.fromEntries(formdata));
            axios
                .post(urlForm, data)
            document.getElementById("formatedit").addEventListener("change", customEdit);
        }

        // Construction de la fonction de confirmation de la commande
        function BtnConfPurchase(event){
            event.preventDefault()
            const url = document.getElementById('cart_confirmation').action
            const formdata = new FormData(document.getElementById('cart_confirmation'))
            const data =  JSON.stringify(Object.fromEntries(formdata));
            axios.post(url, data)
        }

        // Construction de la fonction "onClickBtnIncrement" : incrémentation d'un produit
        function onClickBtnIncrement(event){
            event.preventDefault();
            const url = this.href;
            console.log(url);
            axios
                .post(url)
                .then(function(response) {
                    // Rafraichissement du tableau "liste"
                    const liste = document.getElementById('liste').innerHTML = response.data.liste;
                    // Remise en place des évènements sur la page
                    document.querySelectorAll('a.js-increment').forEach(function (link){
                        link.addEventListener('click', onClickBtnIncrement);
                    })
                    document.querySelectorAll('a.js-decrement').forEach(function (link){
                        link.addEventListener('click', onClickBtnDecrement);
                    })
                    // mise en place de l'alerte
                    var alertHTMLElement = document.getElementById("alertMessage");
                    console.log(alertHTMLElement);
                    var message = response.data.message;
                    var alertBody = alertHTMLElement.querySelector('.alert-content') // selection de l'élément possédant le message
                    alertBody.textContent = message;
                    var alertElement = new bootstrap.Alert(alertHTMLElement);
                    alertElement.show();

                });
        }

        // Construction de la fonction "onClickBtnIncrement" : incrémentation d'un produit
        function onClickBtnDecrement(event){
            event.preventDefault();
            const url = this.href;
            console.log(url);
            axios
                .post(url)
                .then(function(response) {
                    // Rafraichissement du tableau "liste"
                    const liste = document.getElementById('liste').innerHTML = response.data.liste;
                    // Remise en place des évènements sur la page
                    document.querySelectorAll('a.js-increment').forEach(function (link){
                        link.addEventListener('click', onClickBtnIncrement);
                    })
                    document.querySelectorAll('a.js-decrement').forEach(function (link){
                        link.addEventListener('click', onClickBtnDecrement);
                    })
                    // mise en place de l'alerte
                    var alertHTMLElement = document.getElementById("alertMessage");
                    console.log(alertHTMLElement);
                    var message = response.data.message;
                    var alertBody = alertHTMLElement.querySelector('.alert-content') // selection de l'élément possédant le message
                    alertBody.textContent = message;
                    var alertElement = new bootstrap.Alert(alertHTMLElement);
                    alertElement.show();

                });
        }

        // Appel de la fonction d'incrémentation d'un produit
        document.querySelectorAll('a.js-increment').forEach(function (link){
            link.addEventListener('click', onClickBtnIncrement);
        })

        // Appel de la fonction de décrementation d'un produit
        document.querySelectorAll('a.js-decrement').forEach(function (link){
            link.addEventListener('click', onClickBtnDecrement);
        })

        // Création de l'évènemeznt pour la confirmation de la commande
        document.querySelectorAll('a.confPurchase').forEach(function (link){
            link.addEventListener('click', BtnConfPurchase);
        })

        // Edition d'une personnalisation produit sur "change" Select : formatedit
        document.getElementById("formatedit").addEventListener("change", customEdit);
    }
</script>
{% endblock %}

{% block content %}
<div id="SoeurMarie_back">
    <header id="page-title">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-between">
                    <div>
                        <h1>Votre panier</h1>
                    </div>
                    <div>
                        {#
                        <ul class="header__breadcrumb header__breadcrumb--basket header__breadcrumb--short">
                            <li class="header__breadcrumb-item header__breadcrumb-item--short header__breadcrumb-item--active">
                                <a><span>1<span class="header__breadcrumb-label">produits</span></span></a>
                            </li>

                            <li class="header__breadcrumb-item header__breadcrumb-item--short">
                                <a><span>2<span class="header__breadcrumb-label">Coordonnées</span></span></a>
                            </li>

                            <li class="header__breadcrumb-item header__breadcrumb-item--short">
                                <a><span>3<span class="header__breadcrumb-label">Livraison et Paiement</span></span></a>
                            </li>
                        </ul>
                        #}
                    </div>

                </div>
            </div>
        </div>
    </header>
    <section id="page-content" class="op-section">
        <div class="container">
            <div id="alertMessage">
                {% include 'include/_alert.html.twig' with [{'app.flashes': app.flashes}] %}
                {% include 'include/_alert.html.twig' %}
            </div>
            <div id="liste">
                {{ include('gestapp/cart/include/_liste.html.twig')}}
            </div>
            {% if items %}
                <div class="mb-5 d-flex justify-content-around">
                    <button id="previousStep" class="btn btn-sm btn-outline-secondary" disabled> << Etape Précedente</button>
                    <button id="nextStep" class="btn btn-sm btn-outline-secondary">Etape Suivante >> </button>
                    {% if app.user %}
                        <a type="submit" class="btn btn-sm btn-success confPurchase" >Je confirme</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </section>
</div>
{% endblock %}
