{% extends 'base.html.twig' %}



{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
    window.onload = function(){

        // Construction de la fonction "onClickBtnIncrement" : incrémentation d'un produit
        function onClickBtnIncrement(event){
            event.preventDefault();
            const url = this.href;
            console.log(url);
            axios
                .post(url)
                .then(function(response) {
                    // Rafraichissement du tableau "liste"
                    const liste = document.getElementById('liste').innerHTML = response.data.liste;
                    // Remise en place des évènements sur la page
                    document.querySelectorAll('a.js-increment').forEach(function (link){
                        link.addEventListener('click', onClickBtnIncrement);
                    })
                    // mise en place de l'alerte
                    var alertHTMLElement = document.getElementById("alertMessage");
                    console.log(alertHTMLElement);
                    var message = response.data.message;
                    var alertBody = alertHTMLElement.querySelector('.alert-content') // selection de l'élément possédant le message
                    alertBody.textContent = message;
                    var alertElement = new bootstrap.Alert(alertHTMLElement);
                    alertElement.show();

                });
        }

        // Appel de la fonction de mise en ligne du produit lors d'un clic
        document.querySelectorAll('a.js-increment').forEach(function (link){
            link.addEventListener('click', onClickBtnIncrement);
        })
    }
</script>
{% endblock %}


{% block content %}
<header id="page-title">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Votre panier</h1>
            </div>
        </div>
    </div>
</header>
<section id="page-content" class="op-section">
    <div class="container">
        {% for rubrique, messages in app.flashes %}
        <div id="alertMessage" class="alert alert-{{rubrique}}">
            {% for message in messages %}
                <p class="alert-content">{{ message }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <div id="liste">
            {{ include('gestapp/cart/include/_liste.html.twig') }}
        </div>
    </div>
</section>
{% endblock %}
