<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container{% if parameter.isBlocMenuFluid == 1 %}-fluid{% else %}{% endif %}">
        <a class="navbar-brand" href="{{ path('op_webapp_public_homepage')}}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('op_webapp_public_homepage')}}"><i class="fas fa-home"></i> Accueil</a>
                </li>
                {% for menu in menus %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('op_webapp_page_slug', {'slug':menu.slug}) }}">{{ menu.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>