{% if is_granted('ROLE_ADMIN')  %}
<div class="card">
    <div class="card-header">
        <h4><a href="{{ path('op_admin_member_new') }}"><i class="far fa-plus-square"></i> Nouveau membre</a></h4>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h4><a href="{{ path('op_admin_member_index') }}"><i class="fas fa-chevron-circle-left"></i> Retour</a></h4>
    </div>
</div>
{% elseif is_granted('ROLE_USER') %}
<div class="card">
    <div class="card-header">
        <h4><a href="{{ path('op_admin_dashboard_index') }}"><i class="fas fa-chevron-circle-left"></i> Retour</a></h4>
    </div>
</div>
{% endif %}
