{% extends 'base.html.twig' %}

{% block title %}
    {% if not page.title %}
        {{ page.name }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if page is empty %}
    {% else %}
        {% if page.isTitle == 1 %}
        <header id="page-title">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="title">{{ page.name }}</h1>
                    </div>
                </div>
            </div>
        </header>
        {% else %}
        {% endif %}
    {{ render(controller('App\\Controller\\Webapp\\SectionController::frontbypage', {'id' : page.id})) }}
    {% endif %}
{% endblock %}