<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
    <div class="carousel-inner">
        {% for avi in avis %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            <img src="{{ asset('images/png/fond_jaf.jpg') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <h5>{{ avi.description }}</h5>
                <p class="text-end">{{ avi.author }}</p>
            </div>
        </div>{% else %}
        {% endfor %}
    </div>
</div>

