{% extends 'base.html.twig' %}

{% block title %}New ProductUnit{% endblock %}

{% block body %}
    <h1>Create new ProductUnit</h1>

    {{ include('gestapp/product_unit/_form.html.twig') }}

    <a href="{{ path('op_gestapp_product_unit_index') }}">Retour</a>
{% endblock %}
