{% extends 'base.html.twig' %}

{% block title %}New ProductUnit{% endblock %}

{% block body %}
    <h1>Create new ProductUnit</h1>

    {{ include('Gestapp_product_unit/_form.html.twig') }}

    <a href="{{ path('Gestapp_product_unit_index') }}">back to list</a>
{% endblock %}
