{% extends 'admin.html.twig' %}

{% block title %}OpenGaia | Administration{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock %}
{%  block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>

    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {{ include('webapp/section/include/_section_content_header.html.twig') }}
        <section id="op_admin_content_body">
            <div class="row g-2">
                <div class="col-2">
                    {% include 'webapp/section/include/_section_content_aside.html.twig' %}
                </div>
                <div class="col-10">
                    <div class="card">
                        <div class="card-header">
                            <h3>Modifier une section</h3>
                        </div>
                        {{ include('webapp/section/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
