<section>
    <div class="row">
        <div class="col">
            <h1 data-countup='{"startVal": 0}' data-to="{{ countCA }}" data-aos data-aos-id="countup:in"></h1>
        </div>
    </div>
</section>
