<section>
    <div class="row justify-content-center">
        <div class="col-3">
            <h1 class="text-center" data-countup='{"startVal": 0}' data-to="{{ countCA }}" data-aos data-aos-id="countup:in"> €</h1>
            <p class="text-center">de chiffre d'affaire produit.</p>
        </div>

        <div class="col-3">
            <h1 class="text-center" data-countup='{"startVal": 0}' data-to="{{ countRecom }}" data-aos data-aos-id="countup:in"></h1>
            <p class="text-center">Recommendations réalisées entre membre du groupe.</p>
        </div>

        <div class="col-3">
            <h1 class="text-center" data-countup='{"startVal": 0}' data-to="{{ countCA }}" data-aos data-aos-id="countup:in"></h1>
            <p class="text-center">d'adhérent depuis son lancement</p>
        </div>
    </div>
</section>
