{% extends 'admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block content %}
<section id="infos" class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h3>Messages</h3>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h3>Recommandations</h3>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h3>Evènements</h3>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h3></h3>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
