{% extends 'base.html.twig' %}

{% block title %}Edit ProductNature{% endblock %}

{% block body %}
    <h1>Edit ProductNature</h1>

    {{ include('gest_app_product_nature/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gest_app_product_nature_index') }}">back to list</a>

    {{ include('gest_app_product_nature/_delete_form.html.twig') }}
{% endblock %}
