$op-primary: darken(#428bca, 20%);
$jaf-color-first: #cdb55f;
$jaf-color-second: #ffffff;
$admin-color : linear-gradient(90deg, rgba(28,113,216,1) 0%, rgba(48,200,119,1) 100%);
//*** ------------- Import Variables of bootstrap ---------------- ***//
@import "./scss/theme.scss";
@import "./scss/libs.scss";
//*** ------------- Import Variables of my theme ---------------- ***//
@import "scss/custom";
//*** ------------- Import Variables of icons ---------------- ***//
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';
//*** ------------- Import mixins ---------------- ***//
@import "scss/mixins/fontface";
@include fontface('selima', '../../fonts/selima/selima_webfont', 500, normal);
@include fontface('CerebriSans-light', '../../fonts/CerebriSans-Light', 300, normal);
@include fontface('voga', '../../fonts/Volga/voga', 500, normal);