<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">Statistiques personnelle</th>
        </tr>
        <tr>
            <th>Statut</th>
            <th>Recues</th>
            <th>Envoyés</th>
        </tr>
    </thead>
    <tbody>
    {% for stat in stats %}
        <tr>
            <td>
                {% if stat.recoState == 'noRead' %}
                    Non lue
                {% elseif stat.recoState == 'InProgress' %}
                    En cours
                {% elseif stat.recoState == 'Valid' %}
                    Validée
                {% elseif stat.recoState == 'Avort' %}
                    Sans suite
                {% endif %}</td>
            <td>{% if stat.recoPriceReceipt is not null %}{{ stat.recoPriceReceipt }} €{% else %}0.00 €{% endif %}</td>
            <td>{% if stat.recoPriceSend is not null %}{{ stat.recoPriceSend }} €{% else %}0.00 €{% endif %}</td>
        </tr>
    {% else %}
        <tr> 
           <td colspan="3">pas de statistique sur votre espace pour l'instant.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>