<div class="row">

</div>
{% for event in events %}
    <div class="col-2">
        <h5 class="text-center text-strong">{{ event.name }}</h5>
        <p class="text-center"><a href="{{ path('op_gestapp_eventgal_eventgalpublish', {'idevent' : event.id}) }}"><img src="{{ asset('images/svg/folder_img.svg') }}" alt="" style="width:100px;"></a></p>
    </div>
{% else %}
{% endfor %}

