#filters .card-header {
  background-color: $sm-primary-color;
  color: #FFFFFF;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: $sm-primary-color;
  border-color: $sm-primary-color;
}

.page-link {
  color: $sm-primary-color;
}
.page-link:hover {
  z-index: 2;
  color: $sm-primary-color;
  text-decoration: none;
  background-color: #d4e0ec;
  border-color: #dee2e6;
}