#productCard{
  display: grid;
  grid-template-rows: 238px auto 1fr auto;
  min-height: 500px;
  max-height: 500px;
}

#productCard .card-meta-divider {
  width: 100%;
  margin: 0 0 1rem;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #1e2125;
  text-decoration: none;
  background-color: #d4e0ec;
}

#productCard .product-title {
  font-family: "Tangerine", cursive;
  margin-top: 0.2rem;
  color: $sm-primary-color;
  font-size: 2rem;
  line-height: 1.4;
}

#productCard .product-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  color: $sm-primary-color;
  line-height: 1.2;
}

#productCard .btn-outline-sm{
  color: $sm-secondary-color;
  border-color: $sm-secondary-color;
  font-size: 0.6rem;
}

#productCard .btn-outline-sm:hover{
  background-color: $sm-secondary-color;
  color: #FFFFFF;
  border-color: $sm-secondary-color;
  font-size: 0.6rem;
}
