<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% endblock %}
    <title>{% block title %}OpenGaia{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="wrapper">
    {% block header %}
        {{ render(controller('App\\Controller\\Webapp\\PublicController::BlocMenu')) }}
    {% endblock %}
    <main class="container" id="content">
        {% block content %}
        {% endblock %}
    </main>
    {% block footer %}
        {{ include('include/footer_webapp.html.twig') }}
    {% endblock %}
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>