{% extends 'base.html.twig' %}

{% block title %}New annonce{% endblock %}

{% block body %}
    <h1>Create new annonce</h1>

    {{ include('admin_annonce/_form.html.twig') }}

    <a href="{{ path('admin_annonce_index') }}">back to list</a>
{% endblock %}
