<script type="text/javascript">
    const counters = document.querySelectorAll('.value');
    const speed = 200;

    counters.forEach( counter => {
        const animate = () => {
            const value = +counter.getAttribute('akhi');
            const data = +counter.innerText;

            const time = value / speed;
            if(data < value) {
                counter.innerText = Math.ceil(data + time);
                setTimeout(animate, 1);
            }else{
                counter.innerText = value;
            }

        }

        animate();
    });

</script>
<section class="container" style="
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #030303;
    height: 100vh;
">
    <div class="content-stats" style="
        font-size: 150px;
        display: block;
        font-weight: bold;
        color: #fff;
    ">
        <div class="value" akhi="1000">0</div>
        <div class="value" akhi="500">0</div>
        <div class="value" akhi="700">0</div>
        <div class="value" akhi="999">0</div>
    </div>
</section>