{% extends 'admin.html.twig' %}

{% block title %}OpenGaia | Administration{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){

            function onClickaddCategory(event){
                event.preventDefault();
                const name = document.getElementById('product_category_name').value;
                const url = "/opadmin/product/category/new2";
                axios
                    .post(url, {name:name})
                    .then(function(response)
                    {
                        const select = document.getElementById('product_category');
                        const options = document.createElement("option");
                        options.text = response.data.category;
                        select.add(options)

                        var option = {
                            animation : true,
                            autohide: true,
                            delay : 3000,
                        };

                        var toastHTMLElement = document.getElementById("toaster");
                        var message = response.data.message;
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, option);
                        toastElement.show();
                    })
            }

            function onClickaddNature(event){
                event.preventDefault();
                const name = document.getElementById('product_nature_name').value;
                const url = "/opadmin/product/nature/new2";
                axios
                    .post(url, {name:name})
                    .then(function(response)
                    {
                        const select = document.getElementById('product_productNature');
                        const options = document.createElement("option");
                        options.text = response.data.nature;
                        select.add(options)

                        var option = {
                            animation : true,
                            autohide: true,
                            delay : 3000,
                        };

                        var toastHTMLElement = document.getElementById("toaster");
                        var message = response.data.message;
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, option);
                        toastElement.show();
                    })
            }

            function onClickaddUnit(event){
                event.preventDefault();
                const name = document.getElementById('product_unit_name').value;
                const url = "/opadmin/product/unit/new2";
                axios
                    .post(url, {name:name})
                    .then(function(response)
                    {
                        const select = document.getElementById('product_productUnit');
                        const options = document.createElement("option");
                        options.text = response.data.unit;
                        select.add(options)

                        var option = {
                            animation : true,
                            autohide: true,
                            delay : 3000,
                        };

                        var toastHTMLElement = document.getElementById("toaster");
                        var message = response.data.message;
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, option);
                        toastElement.show();
                    })
            }

            // déclaration de l'event sur js-add-unit
            document.querySelectorAll('a.js-add-unit').forEach(function(link){
                link.addEventListener('click', onClickaddUnit)
            })

            // déclaration de l'event sur js-add-nature
            document.querySelectorAll('a.js-add-nature').forEach(function(link){
                link.addEventListener('click', onClickaddNature)
            })

            // déclaration de l'event sur js-add-catégory
            document.querySelectorAll('a.js-add-category').forEach(function(link){
                link.addEventListener('click', onClickaddCategory)
            })

            ClassicEditor
                .create(document.querySelector('#product_description'), {
                    toolbar: [ 'heading','bold', 'italic', 'bulletedList', 'numberedList', 'blockQuote' ],
                    height: 50
                })
                .catch(error => {
                    console.error(error);
                });

            ClassicEditor
                .create(document.querySelector('#product_details'), {
                    toolbar: [ 'heading','bold', 'italic', 'bulletedList', 'numberedList', 'blockQuote' ],
                    height: 50
                })
                .catch(error => {
                    console.error(error);
                });
        }
    </script>
{%  endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('Gestapp/product/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-2">
                {{ include('Gestapp/product/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-header">
                        <h3>Modifier un produit</h3>
                    </div>
                    {{ include('Gestapp/product/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}