<div class="row" id="listNatOrCatProduct">
    <div class="col-12 col-md-3">
    {#
    Le code javascript pour la mise en marche du script se trouve sur le fichier :
    "template/webapp/page/page.html.twig" #}

    {{ include('gestapp/product/include/_filterscategory.html.twig') }}
    </div>
    <div class="col-12 col-md-9" id="liste" data-type="{{ natorcat }}" data-name="{{ cat }}">
        {{ include('gestapp/product/include/_product.html.twig') }}
    </div>
</div>




