<div class="row" id="{{ natorcat }}_{{ nat }}">
    <div class="col-3">
    {#
    Le code javascript pour la mise en marche du script se trouve sur le fichier :
    "template/webapp/page/page.html.twig" #}

    {{ include('gestapp/product/include/_filtersnature.html.twig') }}
    </div>
    <div class="col-9" id="liste">
        {{ include('gestapp/product/include/_product.html.twig') }}
    </div>
</div>




