{% extends 'admin.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){

            var Suppr = document.getElementById('Suppr')
            Suppr.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var a = event.relatedTarget
                // Extract info from data-bs-* attributes
                var recipient = a.getAttribute('data-bs-whatever')
                // If necessary, you could initiate an AJAX request here
                // and then do the updating in a callback.
                //
                // Update the modal's content.
                var modalTitle = Suppr.querySelector('.modal-title')
                var modalText = Suppr.querySelector('.modal-text')
                var modalBodyInput = Suppr.querySelector('.modal-body input')

                modalTitle.textContent = "Suppression d'une commande"
                modalBodyInput.value = recipient
                modalText.innerHTML = "Vous êtes sur le point de supprimer la commande sélectionnée.<br>Etes-vous sur de continuer ?"
            })

            // function Suppression de la ligne en cours
            function onClickDelPurchase(event){
                event.preventDefault()
                const id = document.getElementById('recipient-name').value
                axios
                    .post('/gestapp/purchase/delete/'+ id)
                    .then(function(response)
                    {
                        // préparation du toaster
                        var option = {
                            animation : true,
                            autohide: true,
                            delay : 3000,
                        };
                        // initialisation du toaster
                        var toastHTMLElement = document.getElementById("toaster");
                        var message = response.data.message;
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, option);
                        toastElement.show();

                        // rafraichissement du tableau
                        const liste = document.getElementById('liste').innerHTML = response.data.liste;

                        // Ajout d'un event sur Bouton de suppression de la ligne en cours
                        document.querySelectorAll('a.js-data-suppr').forEach(function(link){
                            link.addEventListener('click', onClickDelEvent)
                        })

                    })
                    .catch(function(error){
                        console.log(error);
                    })
            }

            // Ajout d'un event sur Bouton de suppression de la ligne en cours
            document.querySelectorAll('a.js-data-suppr').forEach(function(link){
                link.addEventListener('click', onClickDelPurchase)
            })
        }
    </script>
{% endblock %}


{% block content %}
<div class="container-fluid">
    {{ include('gestapp/purchase/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-2">
                {{ include('gestapp/purchase/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <h4>Liste des Commandes</h4>
                        <p>Créer, Modifier ou supprimer des commandes</p>
                        <div class="row">
                            <div class="col-12">
                                <div id="liste">
                                    {{ include('gestapp/purchase/include/_liste.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
