{% extends 'admin.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block content %}
<div class="container-fluid">
    {{ include('gestapp/purchase/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-2">
                {{ include('gestapp/purchase/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <h4>Liste des adhesions</h4>
                        <p>Créer, Modifier ou supprimer des adhésions</p>
                        <div class="row">
                            <div class="col-12">
                                <div id="liste">
                                    {{ include('gestapp/purchase/include/_liste.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
