{% extends 'base.html.twig' %}

{% block title %}New Adhesion{% endblock %}

{% block body %}
    <h1>Create new Adhesion</h1>

    {{ include('gest_app_adhesion/_form.html.twig') }}

    <a href="{{ path('gest_app_adhesion_index') }}">back to list</a>
{% endblock %}
