{% extends 'base.html.twig' %}

{% block title %}New Adhesion{% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                {{ include('gest_app/adhesion/_addform.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}
