{% if is_granted('ROLE_ADMIN')  %}
<div class="card">
    <div class="card-header">
        <h4><a href="{{ path('op_admin_structure_new2') }}"><i class="far fa-plus-square"></i> Nouveau Structure</a></h4>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h4>
            {% if app.request.get('_route') == 'op_webapp_page_index'%}
                <a href="{{ path('op_admin_dashboard_index') }}"><i class="fas fa-chevron-circle-left"></i> Retour</a>
            {% else %}
                <a href="{{ path('op_admin_structure_index') }}"><i class="fas fa-chevron-circle-left"></i> Retour</a>
            {% endif %}
        </h4>
    </div>
</div>
{% elseif is_granted('ROLE_USER') %}
<div class="card">
    <div class="card-header">
        <h4>
            <a href="{{ path('op_admin_dashboard_index') }}"><i class="fas fa-chevron-circle-left"></i> Retour</a>
        </h4>
    </div>
</div>
{% endif %}

