<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="2">Statistiques</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for stat in stats %}
        <tr>
            <td>
                {% if stat.recoState == 'inProgress' %}
                    En cours
                {% elseif stat.recoState == 'noRead' %}
                    Non lue
                {% endif %}</td>
            <td>{{ stat.recoPrice }}</td>
        </tr>
    {% else %}
        <tr>
           <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>