
<h1 style="">Soeur Marie de Cartes de prières.</h1>
<p><b>Une nouvelle recommandation vient d'être echangée entre 2 membres.</b></p>
<hr>
<p>Elle a été envoyé par <b></b> et pour <b></b></p>
<p>Elle a pour objet : "titre de la recommandation - Nom du Client</p>