
<h1 style="">JUST à FAIRE</h1>
<p><b>Une nouvelle recommandation reçue est en attente dans votre espace.</b></p>
<hr>
<p>Elle a été envoyé par : </p>
<p>Elle a pour objet : "titre de la recommandation - Nom du Client</p>