<header>
    <div>
        <img src="{{ email.image('@images/home_front/LOGO-fondblanc.png') }}" alt="logo-cartesdeprières">
    </div>
</header>
<main>
    <section>
        <h1 style="">Soeur Marie de Cartes de prières.</h1>
        <p>Suivi de votre commande : {{ commande }}</p>
    </section>
    <section>
        <div>
            <p>Madame / Monsieur {{ prenomDestin }} {{ prenomDestin }}</p>
            <p>Votre commande ...</p>
        </div>
    </section>
</main>
<footer>
    <div>
        <div><p>Carte de prière - &copy;2022</p></div>
        <div>Soeur Marie - Maria Bambina - 65 Lourdes</div>
    </div>
</footer>


<hr>
<p>Elle a été envoyé par <b></b> et pour <b></b></p>
<p>