{% extends 'admin.html.twig' %}

{% block title %}New Adhesion{% endblock %}

{% block body %}
    <h1>Create new Adhesion</h1>

    {{ include('gestapp/adhesion/_form.html.twig') }}

    <a href="{{ path('op_gestapp_adhesion_index') }}">back to list</a>
{% endblock %}
