{% extends 'admin.html.twig' %}

{% block title %}New Adhesion{% endblock %}

{% block body %}
    <h1>Create new Adhesion</h1>

    {{ include('Gestapp_adhesion/_form.html.twig') }}

    <a href="{{ path('Gestapp_adhesion_index') }}">back to list</a>
{% endblock %}
